<div class="footer">
    <div class="footer_box">
        <div class="footer_wrapper">
            <div class="title">
                <h2 class="h2">到位<i class="h2">服务</i>保障</h2>
                <p>到位平台担保交易安全，交易未成功100%退款</p>
                <div class="safeguard">
                    <span><img src="/img/msite/anquan.jpg">优选服务</span>
                    <span><img src="/img/msite/anquan.jpg">全程保障</span>
                    <span><img src="/img/msite/anquan.jpg">安全无忧</span>
                </div>
                <div class="hot_city">
                    <div class="city_title">热门城市</div>
                    <ul class="city_wrapper">
                        <li><a href="javascript:;">北京</a></li>
                        <li><a href="javascript:;">上海</a></li>
                        <li><a href="javascript:;">广州</a></li>
                        <li><a href="javascript:;">深圳</a></li>
                        <li><a href="javascript:;">成都</a></li>
                        <li><a href="javascript:;">天津</a></li>
                        <li><a href="javascript:;">南京</a></li>
                        <li><a href="javascript:;">杭州</a></li>
                        <li><a href="javascript:;">重庆</a></li>
                        <li><a href="javascript:;">苏州</a></li>
                        <li><a href="javascript:;">武汉</a></li>
                        <li><a href="javascript:;">长沙</a></li>
                        <li><a href="javascript:;">济南</a></li>
                        <li><a href="javascript:;">郑州</a></li>
                        <li><a href="javascript:;">西安</a></li>
                        <li><a href="javascript:;">沈阳</a></li>
                        <li><a href="javascript:;">福州</a></li>
                        <li><a href="javascript:;">厦门</a></li>
                        <li><a href="javascript:;">南昌</a></li>
                        <li><a href="javascript:;">合肥</a></li>
                        <li><a href="javascript:;">宁波</a></li>
                        <li><a href="javascript:;">无锡</a></li>
                        <li><a href="javascript:;">青岛</a></li>
                        <li><a href="javascript:;">大连</a></li>
                        <li><a href="javascript:;">东莞</a></li>
                        <li><a href="javascript:;">佛山</a></li>
                        <li><a href="javascript:;">石家庄</a></li>
                        <li><a href="javascript:;">哈尔滨</a></li>
                        <li><a href="javascript:;">太原</a></li>
                        <li><a href="javascript:;">昆明</a></li>
                        <li><a href="javascript:;">贵阳</a></li>
                        <li><a href="javascript:;">南宁</a></li>
                        <li><a href="javascript:;">温州</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>