<header class="header">
  <div class="header_box">
    <div class="header_wrapper">
      <div class="logo">
        <img src="./img/msite/logo.png" alt="">
      </div>
      <div class="address">
        <img src="/img/msite/citypoint.png" alt="">
        <span class="city">北京</span>
        <a class="city" href="javascript:;">切换城市</a>
      </div>
      <div class="content">
        <ul>
          <li><a href="/">首页</a></li>
          <li><a href="javascript:;">到位App</a></li>
          <li><a href="/service">服务商</a></li>
          <li><a href="javascript:;">商家入驻</a></li>
          <li><a href="javascript:;">风物APP</a></li>
          <li><a href="javascript:;">关于我们</a></li>
          <li><a class="login" href="javascript:;">商家登录</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>