<div class="lunbo">
    <div class="lunbo_wrapper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide1"></div>
                <div class="swiper-slide slide2"></div>
                <div class="swiper-slide slide3"></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <div class="list">
        <div class="list_box">
            <div class="list_wrapper">
                <ul class="first_menu">
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>家庭保洁</i>
                            <img id="icon" src="/img/msite/right.png">
                        </a>
                        <ul  class="second_menu" style="top:-44px;">
                            <li><a href="javascript:;">小时工</a></li>
                            <li><a href="javascript:;">开荒保洁</a></li>
                            <li><a href="javascript:;">擦玻璃</a></li>
                            <li><a href="javascript:;">深度保洁</a></li>
                            <li><a href="javascript:;">杀虫除螨</a></li>
                            <li><a href="javascript:;">家具养护</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>上门按摩</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-86px;">
                            <li><a href="javascript:;">中医推拿</a></li>
                            <li><a href="javascript:;">油压SPA</a></li>
                            <li><a href="javascript:;">局部理疗</a></li>
                            <li><a href="javascript:;">足疗套餐</a></li>
                            <li><a href="javascript:;">美体塑形</a></li>
                            <li><a href="javascript:;">母婴保健</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>上门维修</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-128px;">
                            <li><a href="javascript:;">手机维修</a></li>
                            <li><a href="javascript:;">家电维修</a></li>
                            <li><a href="javascript:;">电脑维修</a></li>
                            <li><a href="javascript:;">家庭维修</a></li>
                            <li><a href="javascript:;">管道疏通</a></li>
                            <li><a href="javascript:;">开锁换锁</a></li>
                            <li><a href="javascript:;">安装打孔</a></li>
                            <li><a href="javascript:;">装修换新</a></li>
                            <li><a href="javascript:;">空气净化</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>家电清洗</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-170px;">
                            <li><a href="javascript:;">油烟机清洗</a></li>
                            <li><a href="javascript:;">洗衣机清洗</a></li>
                            <li><a href="javascript:;">空调清洗</a></li>
                            <li><a href="javascript:;">冰箱清洗</a></li>
                            <li><a href="javascript:;">燃气灶清洗</a></li>
                            <li><a href="javascript:;">热水器清洗</a></li>
                            <li><a href="javascript:;">微波炉清洗</a></li>
                            <li><a href="javascript:;">饮水机清洗</a></li>
                            <li><a href="javascript:;">消毒柜清洗</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>衣物洗护</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-212px">
                            <li><a href="javascript:;">洗衣</a></li>
                            <li><a href="javascript:;">洗鞋修鞋</a></li>
                            <li><a href="javascript:;">家纺清洗</a></li>
                            <li><a href="javascript:;">箱包洗护</a></li>
                            <li><a href="javascript:;">定制改衣</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>搬家速运</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-254px">
                            <li><a href="javascript:;">搬家租车</a></li>
                            <li><a href="javascript:;">一站式搬家</a></li>
                            <li><a href="javascript:;">货运的士</a></li>
                            <li><a href="javascript:;">拆装搬运</a></li>
                            <li><a href="javascript:;">仓储寄存</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>美容美妆</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-296px">
                            <li><a href="javascript:;">美容</a></li>
                            <li><a href="javascript:;">美甲</a></li>
                            <li><a href="javascript:;">美睫</a></li>
                            <li><a href="javascript:;">化妆</a></li>
                            <li><a href="javascript:;">美发</a></li>
                            <li><a href="javascript:;">半永久</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>上门医护</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-338px">
                            <li><a href="javascript:;">护士上门</a></li>
                            <li><a href="javascript:;">挂号陪诊</a></li>
                            <li><a href="javascript:;">康复陪护</a></li>
                            <li><a href="javascript:;">上门体检</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>保姆月嫂</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-380px">
                            <li><a href="javascript:;">家务保姆</a></li>
                            <li><a href="javascript:;">月嫂</a></li>
                            <li><a href="javascript:;">育儿嫂</a></li>
                            <li><a href="javascript:;">做饭阿姨</a></li>
                            <li><a href="javascript:;">老人陪护</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="first_menu_item">
                            <i>养车用车</i>
                            <img src="/img/msite/right.png">
                        </a>
                        <ul class="second_menu" style="top:-422px">
                            <li><a href="javascript:;">上门养车</a></li>
                            <li><a href="javascript:;">上门洗车</a></li>
                            <li><a href="javascript:;">汽车陪练</a></li>
                            <li><a href="javascript:;">车务代办</a></li>
                            <li><a href="javascript:;">机场泊车</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>