<div class="partner_box">
    <div class="partner_wrapper">
        <div class="title">合作伙伴</div>
        <ul class="partner_list list1">
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
        </ul>
        <ul class="partner_list list2">
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
            <li class="partner_item">
                <a href="javascript:;"><img src="/img/msite/meidao.jpg"></a>
            </li>
        </ul>
    </div>
</div>