<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="http://www.daoway.cn/pcimages/favicon.png">
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/seller.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/copyright.css">
</head>
<body class="seller">
<%- include('header') %>
<div class="top">
    <div class="top_box">
        <div class="top_wrapper">
            <div class="seller_info">
                <span class="seller_name">云家政</span>
                <span class="time">营业时间：<em class="office_time">09:00-18:00</em></span>
                <span class="time">最近可预约时间：<em class="order_time">03月22日 11:30</em></span>
            </div>
            <div class="seller_data">
                <div class="data">
                    <div class="number">45658</div>
                    <div>成功接单</div>
                    <i>|</i>
                </div>
                <div class="data">
                    <div class="number">94%</div>
                    <div>接单率</div>
                    <i>|</i>
                </div>
                <div class="data">
                    <div class="number">86%</div>
                    <div>好评率</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="guide">
    <div class="guide_box">
        <div class="guide_item on">服务项目</div>
        <div class="guide_item">商家简介</div>
        <div class="guide_item">用户评论</div>

    </div>
</div>
<div class="content">
    <div class="content_box">
        <div class="left">
            <div class="shop_service">
                <h3>
                    <span>服务项目</span>
                </h3>
                <div class="service_list">
                    <a href="javascript:;">
                        <div class="service_item">
                            <img class="service_logo" src="/img/seller/seller1.jpg">
                            <div class="service_cntent">
                                <div class="service_name">家庭保洁</div>
                                <div class="service_desc">家庭保洁服务，2小时起订，服务时间未使用完不做退款处理。阿姨</div>
                                <div class="service_price">
                                    <span class="current"><i class="price">35</i>元/小时</span>
                                    <span class="original">原价<i class="price">45</i></span>
                                    <span class="order">已售60071</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;">
                        <div class="service_item">
                            <img class="service_logo" src="/img/seller/seller1.jpg">
                            <div class="service_cntent">
                                <div class="service_name">家庭保洁</div>
                                <div class="service_desc">家庭保洁服务，2小时起订，服务时间未使用完不做退款处理。阿姨</div>
                                <div class="service_price">
                                    <span class="current"><i class="price">35</i>元/小时</span>
                                    <span class="original">原价<i class="price">45</i></span>
                                    <span class="order">已售60071</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;">
                        <div class="service_item">
                            <img class="service_logo" src="/img/seller/seller1.jpg">
                            <div class="service_cntent">
                                <div class="service_name">家庭保洁</div>
                                <div class="service_desc">家庭保洁服务，2小时起订，服务时间未使用完不做退款处理。阿姨</div>
                                <div class="service_price">
                                    <span class="current"><i class="price">35</i>元/小时</span>
                                    <span class="original">原价<i class="price">45</i></span>
                                    <span class="order">已售60071</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="javascript:;">
                        <div class="service_item">
                            <img class="service_logo" src="/img/seller/seller1.jpg">
                            <div class="service_cntent">
                                <div class="service_name">家庭保洁</div>
                                <div class="service_desc">家庭保洁服务，2小时起订，服务时间未使用完不做退款处理。阿姨</div>
                                <div class="service_price">
                                    <span class="current"><i class="price">35</i>元/小时</span>
                                    <span class="original">原价<i class="price">45</i></span>
                                    <span class="order">已售60071</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="more">
                        <div class="more_button">
                            <span>查看更多项目</span>
                            <img src="/img/service/fuwu_down2.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop_desc">
                <h3>
                    <span>服务项目</span>
                </h3>
                <div class="shop_info">
                    <div class="shop_name">
                        <span>上海家谐网络科技有限公司</span>
                        <img src="/img/seller/renzheng.jpg" alt="">
                    </div>
                    <p>
                        云家政是家政服务在线预订平台。我们的目标是让每个家庭都能获得诚信、便捷、有保障的家政服务。
                        云家政拥有国内最大的实名认证家庭服务员数据库，目前平台上有超过100000名专业服务人员；数百
                        个家政服务商，遍布全国主要城市各个社区。 云家政倡导简单、轻松的生活方式。通过把分散的家政
                        服务能力汇集和分配，让中国家庭获得诚信、便捷、有保障的家政服务，解决日常生活中的麻烦事，把
                        更多时间留给自己和家人，提高生活品质。
                    </p>
                </div>
            </div>
            <div class="user_comments">
                <h3>
                    <span class="title">用户评论</span>
                    <span class="number">(10391条评论)</span>
                </h3>
                <div class="comments_list">
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                    <div class="comment_item">
                        <div class="user_img">
                            <img src="/img/seller/fuwushangimg.png">
                        </div>
                        <ul class="comment_desc">
                            <div class="user_name">博博、</div>
                            <div class="comment_peg">
                                <span class="comment_star">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                    <img src="/img/seller/red_star.png">
                                </span>
                                <span class="comment_time">2018-03-21</span>
                            </div>
                            <div class="comment_content">准时到达，服务专业，态度热情</div>
                            <div class="comment_img"></div>
                            <div class="user_address">
                                <img src="/img/seller/position.jpg">
                                <span class="address">北京  朝阳区</span>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="pagination">
                    <a href="javascript:;" class="page_up">&lt;上一页</a>
                    <div class="page_num">
                        <a href="javascript:;">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">6</a>
                        <a href="javascript:;">7</a>
                        <a href="javascript:;">8</a>
                        <a href="javascript:;">9</a>
                        <span>...</span>
                    </div>
                    <a href="javascript:;" class="page_down">下一页&gt;</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="download_bg bg1">
                <img src="/img/service/daowayApp.png">
            </div>
            <div class="download_bg bg2">
                <img src="/img/service/daowayApp.png">
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>
<%- include('copyright') %>
<script src="/lib/jquery-1.10.1.js"></script>
<script>

</script>
</body>
</html>
